[submodule "JKClient"]
	path = JKClient
	url = https://github.com/J-Jkb/mirror-TomArrow-JKClient.git
[submodule "ext/WPF-Clock-Based-Date-Time-Picker"]
	path = ext/WPF-Clock-Based-Date-Time-Picker
	url = https://github.com/J-Jkb/mirror-TomArrow-WPF-Clock-Based-Date-Time-Picker.git
[submodule "glicko2-csharp"]
	path = glicko2-csharp
	url = https://github.com/J-Jkb/mirror-TomArrow-glicko2-csharp.git
[submodule "markov"]
	path = markov
	url = https://github.com/J-Jkb/mirror-TomArrow-markov.git
[submodule "ext/Q3MinimapGenerator"]
	path = ext/Q3MinimapGenerator
	url = https://github.com/J-Jkb/mirror-TomArrow-Q3MinimapGenerator.git
